<div class="social-icons">
	<div class="icon">
		<a href="https://twitter.com/WTFJHT" target="_blank">
			{% if page.isAmp %}
				<amp-img src="{{ site.baseurl }}/public/twitter.svg" layout='fixed' width='35' height='35'></amp-img>
			{% else %}
				<img src="{{ site.baseurl }}/public/twitter.svg">
			{% endif %}
		</a>
	</div>
	<div class="icon">
		<a href="https://www.facebook.com/wtfjht/" target="_blank">
			{% if page.isAmp %}
				<amp-img src="{{ site.baseurl }}/public/facebook.svg" layout='fixed' width='35' height='35'></amp-img>
			{% else %}
				<img src="{{ site.baseurl }}/public/facebook.svg">
			{% endif %}
		</a>
	</div>
	<div class="icon">
		<a href="https://whatthefuckjusthappenedtoday.com/atom.xml" target="_blank">
			{% if page.isAmp %}
				<amp-img src="{{ site.baseurl }}/public/rss.svg" layout='fixed' width='35' height='35'></amp-img>
			{% else %}
				<img src="{{ site.baseurl }}/public/rss.svg">
			{% endif %}
		</a>
	</div>
	<div class="icon">
		<a href="https://github.com/mkiser/WTFJHT" target="_blank">
			{% if page.isAmp %}
				<amp-img src="{{ site.baseurl }}/public/github.svg" layout='fixed' width='35' height='35'></amp-img>
			{% else %}
				<img src="{{ site.baseurl }}/public/github.svg">
			{% endif %}
		</a>
	</div>
</div>